@import url(style.css);
* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}

.jumbotron{
  background: var(--bg-pages);
  color: white;
  
}

.jumbotron .display-4 {
  margin-top: 2em;
  text-align: center; 
  color: var(--naranja);
  font-weight: bold;
}
.main p{
  margin-bottom: 2em;
}




.donar-ancestro {
  margin: 10px auto 0px;
  width: 320px;
  font-size: 14px;
}
.donar-padre {
  background-color: #818181;
  border-radius: 6px;
}
.donar-cabecera {
  border-radius: 6px 6px 0px 0px;
  background-color: #818181;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.donar-cabecera button {
  border-bottom: 0px;
  position: absolute;
  right: 15px;
  top: 15px;
}
.donar-banco-img img {
  width: 250px;
}
.donar-cuerpo {
  border-radius: 10px 10px 0px 0px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.donar-cuerpo p {
  padding: 10px 0px;
  width: auto;
  background-color: whitesmoke;
}
.donar-cuerpo-datos {
  text-align: center;
}
.donar-footer {
  border-radius: 0px 0px 6px 6px;
  background-color: whitesmoke;
}

.container-slider{
  width: 90%;
  max-width: 900px;
  margin: auto;
  overflow: hidden;
  box-shadow: -14px 14px 28px -5px rgba(0,0,0,0.75);
  -webkit-box-shadow: -14px 14px 28px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: -14px 14px 28px -5px rgba(0,0,0,0.75);
  margin-bottom: 2em;
  border-radius: 5px;
  
  position: relative;
}
.slider{
  display: flex;
  width: 600%;
  height: 400px;
  margin-left: -100%;
}
.slider__section{
  width: 100%;
}
.slider img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider__btn{
  position: absolute;
  width: 50px;
  height: 50px;
  background: var(--gris_1);
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  font-family: monospace;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}
.slider__btn:hover{
  background-color: #fff;
  color: black;
}
.slider__btn--left{
  left: 10px;
}
.slider__btn--right{
  right: 10px;

}