@import url(style.css);
@import url(estilos.css);
.jumbotron-fluid {
  background: var(--bg-pages);
  color: white;
  padding: 2em;
}

.jumbotron-fluid .display-4 {
  margin-top: 2em;
  text-align: center; 
  color: var(--naranja);
  font-weight: bold;
}
.main p{
  margin-bottom: 2em;
}

.container-slide{
  margin: auto;
  background-color: white;
  width: 850px;
  padding: 20px;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.slider{
  position: relative;
  width: 800px;
  height: 300px;
}

ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background:#fff;
}

ul.slider li img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

ul.slider li:first-child {
    opacity: 1; 
}

ul.slider li:target {
    opacity: 1;
}

.menu{
  text-align: center;
  margin: 20px;
}

.menu li{
  display: inline-block;
  text-align: center;
}

.menu li a{
  display: inline-block;
  color: white;
  text-decoration: none;
  background:var(--gris_3);
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%;
}
