@import url(style.css);
* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}

.jumbotron{
  background: var(--bg-pages);
  color: white;
  
}

.jumbotron .display-4 {
  margin-top: 2em;
  text-align: center; 
  color: var(--naranja);
  font-weight: bold;
}
.main p{
  margin-bottom: 2em;
}


.slider {
  width: 800px;
  text-align: center;
  overflow: hidden;
  margin: auto;
  padding-bottom: 1em;
  
}

.slides {
  display: flex; 
  overflow-x: auto;
  scroll-snap-type: x mandatory;

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

}
.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.slides::-webkit-scrollbar-thumb {
  background: var(--gris_1);
  border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 800px;
  height: 400px;
  margin-right: 50px;
  border-radius: 10px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}


.slider img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 100%;
  animation: cambio 20s infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.slider > a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}
.slider > a:active {
  top: 1px;
}
.slider > a:focus {
  background: #000;
}

.donar-ancestro {
  margin: 10px auto 0px;
  width: 320px;
  font-size: 14px;
}
.donar-padre {
  background-color: #818181;
  border-radius: 6px;
}
.donar-cabecera {
  border-radius: 6px 6px 0px 0px;
  background-color: #818181;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.donar-cabecera button {
  border-bottom: 0px;
  position: absolute;
  right: 15px;
  top: 15px;
}
.donar-banco-img img {
  width: 250px;
}
.donar-cuerpo {
  border-radius: 10px 10px 0px 0px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.donar-cuerpo p {
  padding: 10px 0px;
  width: auto;
  background-color: whitesmoke;
}
.donar-cuerpo-datos {
  text-align: center;
}
.donar-footer {
  border-radius: 0px 0px 6px 6px;
  background-color: whitesmoke;
}

@keyframes cambio{
  0%{ margin-left: 0%;}
  10%{margin-left: 0%;}

  15%{margin-left: -110%;}
  20%{margin-left: -110%;}

  25%{margin-left: -215%;}
  45%{margin-left: -215%;}

  50%{margin-left: -320%;}
  70%{margin-left: -320%;}

  75%{margin-left: -425%;}
  90%{margin-left: -425%;}

  95%{margin-left: -530%;}
  100%{margin-left: -530%;}
}
