/* ----------------------------------------------- */
/* HOJA DE ESTILO STYLE.CSS IMPORTADA */
/* ----------------------------------------------- */
@import url(style.css);

/* ---------------------------------------------- */
/*    HERO - ENCABEZADO PRINCIPAL    */
/*  --------------------------------------------- */
.hero{
    width: 100%;
    height: 100vmax;
    overflow: hidden;
    position: absolute;
}
.hero .container-video{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
}
.hero .container-video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
}

.hero .hero-container-text{
    /* border: 1px solid blue; */
    width:70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.hero-container-text h2{
    color: var(--amarillo);
    text-align: center;
    text-shadow: 0px 0px 10px rgba(3, 3, 3, 0.89);
    background-color: transparent;
}
.hero-container-text h3{
    text-align: center;
    color: white;
    text-shadow: 0px 0px 10px rgba(3, 3, 3, 0.89);
    background-color: transparent;
}
/* .hero .hero-container-text p{
    width: 95%;
    color: white;
    letter-spacing: 1px;
    font-size: 1.5em;
    letter-spacing: 2px;
    text-align: center;
    font-weight: normal;
    text-shadow: 0px 0px 10px rgba(3, 3, 3, 0.89);
    background-color: transparent;
    margin: 0 auto;
} */
.hero .hero-container-text a{
    width: 60%;
    height: auto;
    min-width: 100px;
    max-width: 200px;
    padding: 10px;
    margin-top: 30px;

    background: var(--bg-gradient-principal);
    border-radius: 2em;
    transition: transform .3s;
    animation: btn 2s infinite ease;
    /* transition: all  1s ease; */
    
    
    font-size: 1.2em;
    color: white;
    text-align: center;
    text-decoration: none;
}
@keyframes btn {
    from { transform: none; }
    50% { transform: scale(1.3); }
    to { transform: none; }
}
/* .hero .hero-container-text a:hover{
    transform: scale(1.2);
    background-color: #055e8f;
} */
