*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg-menu:#8ecae6;
    --font:1.25em;
    --btn-fundacion:#285FAB;
}

body{
    font-size: var(--font);
}


.nav-lm{
    height: 6em;
    position: fixed;
    width: 100vw;
    z-index: 1;
    margin-bottom: 2em;
    background-color:white;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.35);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.35);
    
}
.menu-lm{
    background-color: white;
    width: 60%;
}
.menu-lm ul li a:hover{
    background-color: var(--bg-menu);
    border-radius: 0.2em;
    width: 90%;
}
.logo img{
    width: 150px;
    height: 90px;
    margin-top: 1em;
    margin-left:2em
}
.contenedor-nav{
    margin-bottom: 2em;
}

.redes{
    display: flex;
    margin-right: 3em;   
}
.redes a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

.redes a:hover{
    color: white;
}
.facebook{
    border-radius: 50%;
    background-color: #3b5998;
    padding: .4em;
}
.whatsapp{
    border-radius: 50%;
    background-color: #25D366;
    padding: .4em;
}
.whatsapp:hover{
    color: white;
    transform: rotateX(30deg);
    transform: rotateY(45deg);
    box-shadow: 6px 6px 8px 0px rgba(0,0,0,0.35);
    -webkit-box-shadow: 6px 6px 8px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 6px 6px 8px 0px rgba(0,0,0,0.35); ;
   
}
.facebook:hover{
    color: white;
    transform: rotateX(30deg);
    transform: rotateY(45deg);
    box-shadow: 6px 6px 8px 0px rgba(0,0,0,0.35);
    -webkit-box-shadow: 6px 6px 8px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 6px 6px 8px 0px rgba(0,0,0,0.35); ;
}

 /****Seccion de Boton Donar****/
.btn-flotante{
    font-size: 18px; /* Cambiar el tamaño de la tipografia */
    text-transform: uppercase; /* Texto en mayusculas */
    font-weight: bold; /* Fuente en negrita o bold */
    color: #ffffff; /* Color del texto */
    text-decoration: none;
    border-radius: 50%; /* Borde del boton */
    letter-spacing: 1px; /* Espacio entre letras */
    background-color: #FFBF00; /* Color de fondo */
    padding: 10px 15px; /*Relleno del boton */
    position: fixed;
    bottom: 40px;
    right: 40px;
    /* transition: all 300ms ease 0ms; */
    /* box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); */
    z-index: 99;
}

.btn-flotante:hover{
    background-color: #A9A9F5;
    color: #FE2E2E;
    cursor: pointer;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-7px);
}
.container{
    display: flex;
    flex-flow: column nowrap;
}
.container-donar{
    background-color: #102542;
    max-height: max-content;
}
a{
    color:#F7F8E0;
    margin: 10px;
}
a:hover{
    color:#FFBF00 ;
    cursor: pointer;
}
h1, h2{
    text-align: center;
    font-size: 30px;
    color: #F7F8E0;
    line-height: 1.5;
    padding-top: 20px;
}
h2{
    font-size: 25px;
    margin-bottom: 20px;
}
.options{
    width: 99%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-top: 10px;
}
.option1 img{
    width: 30vw;
    margin-bottom: 20px;
}
.option2 img{
    width: 30vw;
    margin-bottom: 20px;
}
.option3 img{
    display: block;
    margin: auto;
    width: 40%;
    margin-bottom: 40px;
}
p{
    color: #000000;
    text-align: justify;
    display: block;
    margin: auto;
    width: 95%;
    font-size: 16px;
    border-radius: 3%;
    line-height: 1.5;
    background-color: #F2F2F2;
    padding: 10px;
}

/* seccion nuestra fundación*/

.carousel-item{
    position: relative;
    opacity: 0.4;
}
.carousel-item img{
    margin-top: 155px;
    height: 75vh;
}
h3{
    font-size: 18px;
    color: #000000;
    text-align: justify;
    position: absolute;
    font-weight: inherit;
    margin-top: 190px;
    line-height: 2.0;
}

.carousel-inner{
    position: relative;
    background-repeat: no-repeat;
    object-fit: cover;
}
.nuestra_fundacion{
    margin-top: 70px;
}
.nuestra_fundacion h3{
    
    margin-top: -55px;
    font-size: 30px;
    text-align: center;
}
.card{
    display: block;
    margin: auto;
}
/* MAIN */

/* HERO */


.hero{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}
.hero .container-video{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
}
.hero .container-video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
}

.hero .hero-container-text{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: transparent;

}
.hero .hero-container-text p{
    width: 95%;
    color: white;
    letter-spacing: 1px;
    font-size: 1.6em;
    letter-spacing: 2px;
    text-align: center;
    font-weight: bold;
    text-shadow: 0px 0px 10px rgba(3, 3, 3, 0.89);
    background-color: transparent;
    margin: 0 auto;
}
.hero .hero-container-text a{
    width: 60%;
    height: auto;
    min-width: 100px;
    max-width: 200px;
    padding: 5px;
    margin-top: 30px;

    background-color: var(--btn-fundacion);
    border-radius: 50px;
    
    font-size: 1em;
    color: white;
    text-align: center;
    text-decoration: none;
}
