@import url(style.css);
main{
    margin-top: 90px;
    font-family: var(--parrafo-font);
}
main h1{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 10px 20px;
    color: var(--naranja);
}
.conoce-novedades{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5rem;
    color: var(--azul);
    font-family: var(--parrafo-font);
}