/* seccion historia*/
@import url(style.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* :root{
    --font:1.25em;
    --bl:#000;
} */
.carousel-item{
    position: relative;
}
.carousel-item img{
    height: 100vh;
    filter: grayscale(70%);
    object-fit: cover;
}
.carousel-inner p{
    color: #fff;
    text-align: justify;
    line-height: 1.5;
    /* padding: 30px; */
    font-size: 1.0rem;
}
#container-historia .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }
  #container-historia .overlay h1{
      /* font-size: 1.5em; */
      text-transform: uppercase;
      margin-top: 100px;
      /* font-family: var(--titulo-font); */
  }
  #container-historia .overlay .container,
  #container-historia .overlay .row {
    height: 100%;
  }
  .container-historia .frase-historia{
  margin-top: 20px;
  /* font-size: var(--font); */
  line-height: 1.5;
  font-family: var(--subtitulo-font);
}
.container-historia .frase-historia span{
    font-size: var(---subtitulo-size);
    font-family: var(--subtitulo-font);
    color: var(--naranja);
    font-weight: bold;
}
#container-historia .overlay p{
font-family: var(--parrafo-font);
}
.container-main-historia{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, var(--gris_3) , var(--gris_4));
}
.container-main-historia .main-mision{
    height: 30vh;
    width: 40vw;
    margin: 30px;
    color: #fff;
    margin-top: 60px;
    line-height: 1.5em;
    height: auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.20);
    padding: 20px;
 }
 .container-main-historia .main-vision{
    width: 40vw;
    margin: 30px;
    color: #fff;
    margin-top: 60px;
    line-height: 1.5em;
    height: auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.20);
    padding: 20px;
 }
   .container-main-historia h3{
        text-transform: uppercase;
        text-align: center;
        font-family: var(--subtitulo-font);
        /* font-size: 1.5em; */
    }
    .container-main-historia p{
        text-align: justify;
        font-family: var(--parrafo-font);
        font-size: 1.2rem;
        /* font-size: .8em; */
    }
    .container-main-objeto-social{
        color: #fff;
        background: linear-gradient(to bottom, var(--gris_4) , var(--gris_3));
    }
    .container-main-objeto-social h3{
        font-family: var(--subtitulo-font);
    }
    .container-main-objeto-social .main-objeto{
        margin-top: 8%;
    }
    .container-main-objeto-social .titulo{
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 60px;
    }
    .container-main-objeto-social .lista-objeto{
        list-style-type:circle;
        text-align: justify;
        margin: 40px;
        line-height: 2.0em;
        /* font-size: var(--parrafo-size); */
        font-size: 1.2rem;
    }
    .row{
        --bs-gutter-x: 0rem;
    }