@import url(style.css);

main .family{
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    text-align: center;
    background-image: url(../Dibujos/dibujo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
main .family::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.575);
    z-index: 1;
}
.content-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.family h1,
.family p{
    width: 90%;
    margin: auto;
    padding: 10px;
    text-align: center;
}
.family h1{
    color: var(--naranja);
    font-size: calc((var(--font))*2);
}
.family p{
    color: black;
    margin-top: 20px;
}
.title-cards{
    font-size: 2em;
    margin: 30px auto;
    padding-top: 20px;
    color: var(--naranja);
}