/* ---------------------------------------------------- */
/*   MONITOR  PC - TV o SUPERIOR */
/* ---------------------------------------------------- */
@media screen and (min-width: 1024px) {
    .collapse {
        background-color: transparent;
    }
    .hero {
        height: 100vmin;
    }
}

/* ----------------------------------------------------- */
/*   NOTEBOOK o SIMILARES   */
/* ---------------------------------------------------- */

@media screen and (max-width: 1024px) {

  .hero {
    height: 100vmin;
  }
  .redes a {
    font-size: 1em;
  }
  .redes {
    margin-right: 0.5em;
  }
  .navbar {
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    margin-top: 0;
    height: auto;
  }
  .nav-lm{
    height: 4.5em;
    font-size: .8em;
  }
  .logo-contenedor{
    width: 25%;
  }
  .navbar-toggler{
      margin-bottom: auto;
  }
  .menu-lm {
    width: 80%;
  }
  .navbar {
    padding-top: 0em;
    padding-bottom: 0;
    margin-top: 0;
  }
  .menu-lm ul li a:hover {
    border-radius: 1;
    padding: 0.5em;
  }
  .menu li a {
    padding: 10px;
    width: 10px;
    height: 10px;
    font-size: 25px;
    border-radius: 100%;
  }
  /* .navbar-collapse { */
    /* background-color: white; */
  /* } */
  .slider__btn {
    width: 40px;
    height: 40px;
    font-size: 25px;
  }
  /* Modal Apadrina a un niño */
  
  .modal-apadrinar figure img{
    width: 15%;
  }
  .modal-apadrinar figure figcaption{
    font-size: 1.6rem;
}
  .modal-apadrinar .modal-apadrinar-text h3{
    font-size: 1.5rem;
  }
  address a{
    font-size: 1rem;
  }
  main figure img{
    height: 100vh;
    object-fit: cover;
  }
  .logo-contenedor .texto-logo{
    font-size: 15px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 991px) {
    .nav-lm{
        height: 6em;
        font-size: .8em;
    }
      .logo-contenedor{
        width: 25%;
    }
    .navbar-toggler{
        margin-top: auto;
        font-size: 2em;
        margin-right: .5em;
    }
    .menu-lm {
        width: 100vw;
      }
  .collapse {
    background-color: white;
    /* padding: 10px 10px; */
  }
  .eventos .tour .eventos-img{
    width: 80%;
    height: 400px;
}
  .eventos .tour .eventos-img img{
      width: 100%;
      height: 100%;
  }
  .carousel-inner p{
    line-height: 1.5;
    font-size: 1.0rem;
  }
  main figure img{
    height: 100vh;
    object-fit: cover;
  }
  .container-main-objeto-social .lista-objeto{
    line-height: 1.5em;
  }
  .logo-contenedor .texto-logo{
    font-size: 30px;
    margin: 0 auto 0 200px;
  }
}


/* ------------------------------------------------------- */
/* ESTO TENDRIA QUE IR ANTES QUE 768PX */
/* ------------------------------------------------------- */
@media screen and (max-width: 873px) {

  .nav-lm{
    height: 3.5em;
    font-size: .8em;
 }
  .logo-contenedor{
    width: 28%;
 }
 .navbar-toggler{
    margin-top: auto;
    font-size: 2em;
    margin-right: .5em;
 }
  .jumbotrom {
    width: 100%;
    height: 100vh;
  }
  .jumbotron .display-4 {
    margin-top: 3em;
  }
  .container-slide {
    width: 400px;
    padding: 15px;
  }
  .slider__btn {
    width: 30px;
    height: 30px;
    font-size: 20px;
  }
  .family-cards .card {
    width: 45%;
  }
  .navbar {
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    margin-top: 0;
  }
  .menu-lm {
    width: 100vw;
  }
  .container-fluid {
    padding: 0;
  }
  .navbar {
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    margin-top: 0;
    height: 7em;
  }
  .hero .hero-container-text a {
    padding: 10px;
    font-size: 1em;
  }
  .logo-contenedor .texto-logo{
    font-size: 30px;
    margin: 0 auto 0 200px;
  }
  .family-cards .card{
    width: 40%;
  }
  .modal-container .modal-apadrinar{
    width: 45%;
  }
  .carousel-inner p{
    line-height: 1.5;
    font-size: 1.0rem;
  }
  main figure img{
    height: 100vh;
    object-fit: cover;
  }
  .container-main-objeto-social .lista-objeto{
    line-height: 1.5em;
  }
}
/* ------------------------------------------------------- */
/*    TABLET    */
/* ------------------------------------------------------- */
@media screen and (max-width: 768px) {

    .nav-lm{
        height: 3em;
        font-size: 1em;
    }
    .logo-contenedor{
        width: 33%;
    }
    .navbar-toggler{
        margin-top: auto;
        font-size: 2em;
        margin-right: .5em;
    }
  .navbar {
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    margin-top: 0;
    height: 7em;
  }
  .redes a {
    font-size: 0.8em;
  }
  .btn-flotante {
    font-size: 1.1em;
    padding: 0.7em 0.9em;
    right: 10px;
  }
  
  .hero .hero-container-text a {
      width: 100%;
      border-radius: 2em;
      font-size: 0.8em;
  }
  .hero-container-text h2 {
      font-size: 2rem;
  }
  .hero-container-text h3 {
      font-size: 1.5rem;
  }
  .jumbotrom {
      width: 100%;
  }

    /* .menu li a{
        display: none;
    } */
    .family .content-text {
        width: 95%;
    }
    .benefactores .benefactores-container {
        flex-direction: column;
    }
    .benefactores .benefactores-container img {
        width: 100%;
        height: 200px;
    }
    .benefactores .benefactores-container div {
        width: 95%;
        padding: 0;
        text-align: justify;
    }
    .benefactores .benefactores-container div h3 {
        margin: 10px auto;
        text-align: justify;
        font-size: 2rem;
        text-align: center;
    }
    .ayuda article {
        width: 80%;
        margin: 10px auto;
    }
    #nuestros-niños,
    #voluntarios,
    #benefactores{
    padding-top: 70px;
  }
  .logo-contenedor .texto-logo{
    font-size: 25px;
    margin: 0 auto 0 100px;
    /* margin-left: 15px; */
  }
  main .eventos{
    width: 95%;
  }
  main .eventos-img{
    height: 200px;
  }
  .eventos .tour .eventos-img{
    width: 60%;
    height: 400px;
}
.eventos .tour .eventos-img img{
    width: 100%;
    height: 100%;
}
.modal-container .modal-apadrinar {
  width: 70%;
}
main figure img{
  width: 100vw;
  position: absolute;
}
.container-main-objeto-social .lista-objeto{
  line-height: 1.5em;
}
}
@media screen and (max-width: 550px){
  .modal-container .modal-apadrinar {
    width: 75%;
  }
  #container-historia .overlay p{
    font-size: 0.8rem;
    padding-top: 2px;
}
.container-historia .frase-historia{
  font-size: 1.2rem;
}
.container-historia h1{
  font-size: 1.8rem;
}
.carousel-inner p{
  line-height: 1.5;
  font-size: 1.0rem;
}

.container-main-objeto-social .lista-objeto{
  line-height: 1.5em;
}
.carousel-item img{
  object-fit: none;
  }
}

/* ------------------------------------------------------- */
/*     CELULAR en HORIZONTAL   */
/* ------------------------------------------------------- */
@media screen and (max-width: 575px) {

 .nav-lm{
    height: 3em;
    font-size: .8em;
  }
  .logo-contenedor{
    width: 40%;
  }
  .logo-contenedor p{
    font-size: 1.1em;
}
 .navbar-toggler{
    margin-top: auto;
    font-size: 1.5em;
    margin-right: .5em;
  }
  .hero {
    height: 100vmax;
  }
  .hero .hero-container-text {
    width: 80%;
  }

  .hero .hero-container-text {
      width: 80%;
  }
  /* .hero .hero-container-text p{
      width: 100vw;
      color: white;
      font-size: 1em;
  } */

  .hero .hero-container-text a {
    padding: 10px;
    font-size: 1em;
  }
  .hero-container-text span {
    font-size: 1.2em;
    color: var(--amarillo);
    font-weight: bold;
  }
  .navbar {
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    margin-top: 0;
    height: 7em;
  }
  .hero .hero-container-text a:hover {
    transform: scale(1.2);
  }
  .container-main-historia .main-mision {
    width: 84%;
    height: auto;
  }
  .container-main-historia .main-vision {
    width: 84%;
    height: auto;
  }
  .row {
    --bs-gutter-x: 0rem;
  }
  ol,
  ul {
    padding-left: 0.2rem;
  }
  .container-main-objeto-social .main-objeto {
    margin-top: 15%;
  }
  .jumbotrom {
    width: 100%;
  }

  .menu li a {
      padding: 5px;
      width: 4px;
      height: 4px;
      font-size: 12px;
      border-radius: 100%;
  }
    .btn-flotante {
        font-size: 1em;
        padding: 0.7em 0.9em;
        right: 10px;
    }
    main .family{
        padding-top: 120px;
    }
    .family .content-text{
        padding-top: 20px;
    }
    .family .content-text h1{
      font-size: 2.5rem;
    }
    .family-cards .card {
        width: 80%;
    }
    .title-cards{
      margin: 20px auto;
    }

    /* ---------FOOTER-------------------- */
    /* .footer-sup { */
        /* border: 1px solid rgb(25, 0, 255);
        width: 100%;
        padding: 10px;
        display: flex;
        flex-flow:wrap row;
        justify-content: space-around;
        align-items: center; */

  /* } */
  .footer-sup .footer-map {
    /* border: 1px solid red; */
    margin-bottom: 10px;
    width: 100%;
    padding: 0;
    display: flex;
  }
  .footer-titulo {
    margin: 0px 10px;
  }
  .logo-contenedor .texto-logo{
    font-size: 20px;
    margin: 0 auto 0 32px;
    /* margin-left: 15px; */
  }
  main .eventos-img img{
    width: 100%;
  }
  .eventos .tour .eventos-img{
    width: 90%;
    height: 400px;
  }
  .eventos .tour .eventos-img img{
    width: 100%;
    height: 100%;
  }
  .modal-container .modal-apadrinar {
    width: 80%;
  }
  .carousel-item img{
    object-fit: none;
    }

  /* ---------MODAL DE DESARROLLADORES-------------- */
  .modal-centrado {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main figure img{
    height: 100vh;
    object-fit: cover;
  }
  .container-main-objeto-social .lista-objeto{
    line-height: 1.5em;
  }
}

/* ------------------------------------------------------- */
/*   CELULAR VERTICAL   */
/* ------------------------------------------------------- */
@media screen and (max-width: 375px) {
  .hero .hero-container-text {
      width: 90%;
  }

  .hero .hero-container-text p {
    color: white;
    font-size: 0.9em;
  }
  .hero .hero-container-text a {
    padding: 10px;
    font-size: 1em;
  }
  .hero-container-text span {
    color: var(--amarillo);
    font-weight: bold;
  }
  @keyframes btn {
    from {
      transform: none;
    }
    50% {
      transform: scale(1.1);
    }
    to {
      transform: none;
    }
  }
  .btn-flotante {
    font-size: 1em;
    padding: 0.7em 0.9em;
    right: 10px;
  }
  .jumbotrom {
    width: 100%;
  }
  .menu li a {
    padding: 5px;
    width: 4px;
    height: 4px;
    font-size: 12px;
    border-radius: 100%;
  }
  .slider__btn {
    width: 30px;
    height: 30px;
    font-size: 20px;
  }
  .menu-lm {
    width: 100vw;
  }

  .logo-contenedor{
    width: 40%;
  }
  .logo-contenedor p{
    font-size: 1.1em;
}
.logo-contenedor .texto-logo{
  font-size: 15px;
  margin: 0 auto 0 20px;
  /* margin-left: 15px; */
}
  .modal-container .modal-apadrinar {
    width: 90%;
  }
  .footer-logo img {
    margin-top: -364px;
    margin-left: -144px;
  }
  main figure img{
    height: 100vh;
    object-fit: cover;
  }
  .container-main-objeto-social .lista-objeto{
    line-height: 1.5em;
  }
  .carousel-item img{
    object-fit: none;
    }
}


/* -------------------------------------------------------- */
/*    CELULAR PEQUEÑO    */
/* -------------------------------------------------------- */
@media screen and (max-width: 320px) {

  .slider__btn {
    width: 30px;
    height: 30px;
    font-size: 20px;
  }
  .menu-lm {
    width: 100vw;
  }
 .logo-contenedor{
    width: 48%;
  }
  .logo-contenedor p{
    font-size: 1.1em;
  }
  .logo-contenedor .texto-logo{
    font-size: 15px;
    margin: 0 auto 0 15px;
  }
  .family .content-text{
    padding-top: 60px;
  }
  .modal-container .modal-apadrinar {
    width: 95%;
  }
  .footer-logo img {
    margin-top: -364px;
    margin-left: -118px;
  }
  main figure img{
    height: 100vh;
    object-fit: cover;
  }
  .container-main-objeto-social .lista-objeto{
    line-height: 1.5em;
  }
  .carousel-item img{
    object-fit: none;
    }
}