@media screen and (min-width: 1024px){
    .collapse {
        background-color: transparent;
    }

}


@media screen and (max-width: 1024px){

    .collapse {
        background-color: white;
    }

    .redes a{
        font-size: 1em;
    }
    .redes{
        margin-right: .5em;   
    }
    .logo img{
        width: 100px;
        height: 70px;
        margin-top: -5px;
        margin-left: 1em;
    } 
    .nav-lm{
        height: 4.5em;
    }
    .menu-lm{
        width: 80%;
    }
    .navbar{
        padding-top: 0em;
        padding-bottom: 0;
        margin-top: 0;
    }
    .menu-lm ul li a:hover{
        border-radius: 1;
        padding: .5em;
    }
   
}


@media screen and (max-width:768px){
    .logo img{
        width: 95px;
        height: 55px;
        margin-top: -5px;
        margin-left: 0;
    } 
    .nav-lm{
        height: 4em;
    }
    
    .navbar{
        padding-top: 0em;
        padding-bottom: 0;
        margin-top: 0;
    }
    .redes a{
        font-size: .8em;
    }
    .btn-flotante{
        font-size: .8em; 
        padding: .5em .8em; 
        right: 10px;
    }
    .hero .hero-container-text a{
        width: 50%;
        border-radius:2em;
        font-size: .8em;
    }
  
}    
/* @media only screen and (max-width: 600px) {
    .btn-flotante{
        font-size: 10px;
        right: 10px;
        padding: 8px 8px;
        bottom: 20px;
    }
    .btn-flotante:hover{
        color: #FE2E2E;
        cursor: pointer;
        box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
        transform: translateY(-7px);
        background: #5858FA;
    }
    .options{
        height: 869px;
    }
    .logo img{
        width: 90px;
        height: 45px;
        margin-top: 1px;
    } 
    .nav-lm{
        height: 3.8em;
    }
    .navbar{
        padding-top: 0em;
        padding-bottom: 0;
        margin-top: 0;
    }
    .redes a{
        font-size: .8em;
    }
    .hero .hero-container-text a:hover{
        transform: scale(1.3);
    }
    
} */


@media screen and (max-width: 425px){
    .hero .hero-container-text p{
        width: 100vw;
        color: white;
        font-size: 1em;
    }
    .hero .hero-container-text a{
        width: 100%;
        padding: 0.30em;
        margin-top: 30px;
        font-size: .8em;
    }
    .logo img{
        width: 70px;
        height: 45px;
        margin-top: 5px;
    } 
    .nav-lm{
        height: 4em;
    }
    .navbar{
        padding-top: 0em;
        padding-bottom: 0;
        margin-top: 0;
    }
    .hero .hero-container-text a:hover{
        transform: scale(1.2);
    }
    .btn-flotante{
        font-size: 0.45em; 
        padding: .4em 0.75em; 
        right: 2px;
    }
}
